html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.container {
   max-width: 1500px;
}

.container-fluid {
   padding: 0px;
}

.slim-container {
  max-width: 450px;
}

.slim-container button:not(.btn-link-small){
  width: 100%;
}

.jumbotron {
  margin-bottom:0;
}

.form-group > label {
  font-size: 0.9rem;
  font-weight: bold;
}

.btn-lnk {
  width: 100%;
}
