.cart-navbar {
  position: relative;
}

.cart-items {
  position: absolute;
  font-size: 9px;
  left: 10px;
  bottom: 10px;
}

.a-cart:hover > span {
  opacity: 0.8;
}

.dropdown-category {
  font-weight: bold;
}

.dropdown-subcategory1 {
  margin-left: 7px;
}

.dropdown-subcategory2 {
  font-weight: lighter;
  margin-left: 14px;
}

.dropdown-search > .dropdown-item {
  cursor: pointer;
}

.dropdown-search {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
