.alert-danger{
  border-color: #721c24;
}

#switchBtn {
  background-color: #ddd;
}
#switchBtn:hover {
    background-color: #bbb;
}

.form-check {
  margin-top: 15px;
}

.popover {
  min-width: 450px;
}

.helpContainer {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.title {
  margin-top: 25px;
  margin-bottom: 20px;
}

#help {
  padding-left: 8px;
}

#signinContainer {
  width: 100%;
  border:1px solid #ccc;
  padding: 15px;
}

[data-toggle="collapse"] .fa:before {
  margin:1px;
  content: "\f13a";
}

[data-toggle="collapse"].collapsed .fa:before {
  margin:1px;
  content: "\f138";
}

.divider {
	width:100%;
	text-align:center;
  color: #888;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:30%;
}

#usernameContainer {
  margin-bottom: 15px;
}

.hr-left {
	float:left;
}

.hr-right {
	float:right;
}

#dropdown-menu-user {
  min-width: 280px;
}
